@charset "utf-8";

/*
Author: Jonathan 
Date: 05.02.20
*/

/* Structural Styles */
html{
    background-color: black;
    color: white;
}

header{
    background-color: #333333;
}

h1{
    background-color: #64696C;
}

h1 ~ h2{
    background-color:#64696C;
    color: white;
}


}

/* Navigation Styles */


/* Section Styles */


/* Definition List Styles */