@charset "utf-8";

/*
Author: Jonathan 
Date: 05.02.20
*/

/* Structural Styles */
html{
    background-color: rgb(#64696C);
}

header{
    background-color: rgb(#394A59);
}

h1 ~ h2{
    background-color: rgb(#000000);
    color: rgb(#BC1E22);
}

/* Navigation Styles */


/* Section Styles */


/* Definition List Styles */